.box {
  width: 50%;
  float: left;
  margin-top: 5rem;
  height: 12.3rem;/*Altura da linha*/
 }
 
 .linha-vertical {
  border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  box-sizing: border-box;
 }
 div.col-4 img{
  fill: white;
 }

 @media (max-width: 600px){
   #test{
     display: none;
   }
 }